/* React Animations
***************************************************************************************/

.animate-opacity-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.animate-opacity-enter.animate-opacity-enter-active {
    opacity: 1;
}

.animate-opacity-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.animate-opacity-leave.animate-opacity-leave-active {
    opacity: 0.01;
}