$red-color: #d80027;

.cover-image {
    content: url(/images/marketing/restaurant_cover.jpg);
    width: 100%;
}

.cover-heading{
  position: absolute;
    color: #fff;
    font-size: 2em;
    margin-top: 15%;
    margin-left: 24%;
}

.cover-input{
  position: absolute;
  margin-top: 19%;
  margin-left: 30%;
}

.cover-input input{
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 51em;
  transition: border .5s ease;
}

.cover-input input:hover{
  border: 1px solid $red-color;
}

.cover-input input:focus{
  outline: none;
}
