$red-color: #c0392b;

.cover-image {
    content: url(/images/marketing/restaurant_cover.png);
    width: 100%;
}

.cover-heading h1 {
    color: #fff;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-top: 12rem;
}

.cover-input {
    text-align: center;
}

.cover-input input {
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 51em;
    transition: border .5s ease;
    margin-left: 1em;
    margin-right: 1em;
}

.cover-input input:hover {
    border: 1px solid $red-color;
}

.cover-input input:focus {
    outline: none;
}