$color-white: #fff;
$color-opaque: #222;

.marketing-header{
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 50px;
  font-size: 1em;
  position: fixed;
  width: 100%;
  color: $color-white;
  transition: background-color .5s ease;
  padding-top: .5em;
  padding-bottom: .5em;
  z-index: 100;
}

.marketing-header.opaque{
  background-color: $color-opaque;
}

.header-right{
  width: 85%;
  display: flex;
  flex-direction: row;
  height: inherit;
  align-items: center;
}

.header-right .heart-image{
  content: url(/images/marketing/heart.svg);
  width: 2em;
  margin-right: .5em;
  margin-left: 1em;
}

.header-left{
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-left div{
  margin-right: 1em;
}
