@import 'marketing-base.scss';
.marketing-header {
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 50px;
    font-size: .9em;
    position: fixed;
    width: 100%;
    color: $white-color;
    transition: background-color .5s ease;
    padding-top: .7em;
    padding-bottom: .5em;
    z-index: 100;
}

.marketing-header.opaque {
    background-color: $opaque-color;
}

.header-right {
    width: 85%;
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
    @media #{$mobile} {
        width: 60%;
    }
    @media #{$tablet} {
        width: 60%;
    }
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.header-right .heart-image {
    content: url(/images/marketing/heart.svg);
    width: 2em;
    margin-right: .5em;
    margin-left: 1em;
}

.header-left {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media #{$mobile} {
        width: 40%;
    }
    @media #{$tablet} {
        width: 40%;
    }
}

.header-left div {}

.logo {
    font-size: 1.3em;
}

.sign-in {
    margin-righT: 1rem;
}

.sign-in:hover {
    cursor: pointer;
}