@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'colors.scss';

/* Global Styles */

.page-body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
    background: $default-button-color;
    padding: .6em;
    padding-left: .8em;
    padding-right: .8em;
    color: $white-color;
    cursor: pointer;
    transition: opacity .5s ease;
}

.button:hover {
    opacity: .8;
}

.round {
    border-radius: 10px;
}

.red {
    background: $red-color;
}